@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lobster&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    background-color: #005F29;
    color: white;
    
}
.herobackground{
            
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("/images/kefir.6.jfif");
        color: white;
       
        height: 120vh;
        
       
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        position: relative;
}


nav a {
    color: white;
    font-family: 'Roboto', sans-serif !important;
}
a{
   
    text-decoration: none;
}
footer{
    display: block;
box-sizing: border-box;
height: 100px;
background-color: #005F29;
clip-path: ellipse(60% 100% at 51% 100%);
color: white;
}
.footer{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

li{
    display: inline;
    padding: 5px;
}

ul
{
    list-style: none;
}



.cajita{
    
    height: 250px;
    width: 200px;
       border: 3px solid black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 10px 10px;
   
}
.cajita img{
    width: 50%;
    
}
.navcontent{
    display: flex;
    height: 90px;
    width: 100%;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 10px;
}   
.logo{
    width: 90px;

}

.textoindex{
    padding: 5em;
    text-align: center;
    

}
h1{ 
    
    margin-top: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.h2{
    margin-bottom: 2em;
    text-align:center;
}

.video1{
    display: flex;
    justify-content: center;
}

.containergaleria{
    display: grid;
    gap: 2rem;
    grid-auto-rows: 22rem;    
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
}
img{
    width: 300px;
    justify-self: center;
    
 }

 .conteinerq{
     display: grid;
     grid-auto-rows: 22rem;    
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    gap: 1em;
    align-items: center;
 }

.title{
font-size: 3em;
 font-family: 'Lobster', cursive;

}


@media only screen and (max-width:760px) {

    .containergaleria{ 
        grid-template-columns: 100%;
        grid-gap: 1rem;
    }
}
    

 
